.nav-scroller {
    height: 2.75rem; /* 隱藏下方捲軸 */
    overflow-y: hidden; 
    border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
    overflow-x: auto;
    white-space: nowrap;
}