<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="container d-flex ">
        <div class=".row p-2">
          <h4 class="link-primary mb-2">EXHIBINECTION</h4>
        </div>
        <div class="row">
         <ul class="col-md-6 list-unstyled d-flex justify-content-center align-items-center mb-0">
          <div class="">
            <li class="me-9 ms-2"><a herf="#">Sign in</a></li>
          </div>
            <div>
              <li class="me-10 ms-2"><a herf="#"> Sign up</a></li>
             </div>
             <div>
              <li class="ms-2 "><a herf="#"> <span class="material-icons align-middle">
                confirmation_number
                </span>
                </a></li>
             </div>
        </ul>
       </div>
      </div>
      <div class="first row">
        <div class="col">
           <h4 class=" col-ms-4   ms-10 link-light">台北當代藝術展</h4>
           <h5 class=" col-ms-8 mb-4 ms-10 link-light">01 JUN - 31 OCT</h5>
       </div>
        <div class="d-flex  ">
           <button type="button " class="btn btn-secondary  ">購買票券</button>
           <button type="button" class="btn btn-dark ms-2 mb-4">詳細資訊</button>
       
       </div>
    </div>
    </header>
   
    <div class="nav-scroller">
      <nav class="container nav" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="#">音樂</a>
        <a class="nav-link" href="#">戲劇</a>
        <a class="nav-link" href="#">設計</a>
        <a class="nav-link" href="#">藝術</a>
        <a class="nav-link" href="#">美食</a>
        <a class="nav-link" href="#">旅遊</a>
        <a class="nav-link" href="#">電影</a>
        <a class="nav-link" href="#">親子</a>
        <a class="nav-link" href="#">期間限定</a>
      </nav>
    </div>
  
    <hr>
    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>